/* ======= Imports ======= */
@import "_reset.css";


/* ======= Body ======= */
body
{
    /* #3D70B2 */
    color: whitesmoke;
    background-color: rgba(19, 18, 18, 0.966);
    background-color:#111;
}


/* ======= Header ======= */
header
{
    width: 100%;
    height: 20vh;
}

/* Title */
header h1
{
    margin: 5% 5% 2%;    
    font-size: 4.5rem;
}

header h1:hover
{
    animation: header_animation 2s infinite;
}

/* Header Animation */
@keyframes header_animation
{
    0%   { transform: skew(  0deg, 0deg ); }
    25%  { transform: skew(  -15deg, -0.5deg ); }
    50%  { transform: skew(  0deg, 0deg ); }
    75%  { transform: skew(  15deg, 0.5deg ); }
    100% { transform: skew(  0deg, 0deg ); }
}

/* Navigation Bar */
header nav
{
    margin: 4% 7% 2%;
}

header nav a
{
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    text-decoration: none;
    margin: 2% 2%;
    padding: 5px 30px;
    border: 2px solid whitesmoke;
}

header nav a:hover
{
    color: black;
    background-color: whitesmoke;
}


/* ======= Section ======= */
section
{
    width: 97%;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 8px rgb(117, 118, 138) outset;
}

.developer
{
    display: flex;
}

/* Section Image */
.developer img
{
    margin: 30px 20px; 
    width: 500px; 
    height: 500px;
    padding: 0 130px;
}

/* Developer Information */
.developer .developer_information
{   
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developer h3
{
    font-size: 2.3rem;
}

.developer a
{
    color: black;
    width: 40%;
    padding: 12px 0;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
    margin: 30px 0;
    font-size: 1.4rem;

}

.developer a:hover
{
    color: white;
    background-color: black;
}

.developer p
{
    line-height: 1.6;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 100;
}



/* ======= Footer ======= */